* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  list-style: none;
}
#bd {
  display: flex;
  flex-flow: column wrap;
}
#bd .header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#bd .header .person-img .person {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}
#bd .header .person-img .person img {
  position: absolute;
  transform-origin: 0 0;
  transform: scale(6%, 6%);
}
#bd .header .menu {
  font-size: 1.2rem;
  display: flex;
  margin-right: auto;
  margin-left: 3rem;
}
#bd .header .menu ul {
  display: flex;
  flex: 1;
}
#bd .header .menu ul li {
  flex: 1;
  width: 100px;
  display: flex;
  justify-content: center;
}
#bd .header .menu ul li a {
  text-decoration: none;
  text-align: center;
}
#bd .header .right {
  width: 5rem;
  margin: 0 0.6rem;
}
